@model FormTaskWithDatabaseADO.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyLimited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyLimited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Busineess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Busineess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benifits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benifits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListProducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListProducts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrustElements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrustElements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportantAreas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportantAreas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteExample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteExample)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
